<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <div class="row">
        <div class="col-lg-9">
          <input #searchBox class="form-control form-control-lg" type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-lg-2">
          <button type="submit" (click)="search(searchBox.value)" class="btn btn-block btn-lg btn-primary">Search!</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="page-wrapper">
  <div id="page" class="container">
    <div class="title">
      <h2>Daddy School</h2>
    </div>
    <p>This is
      <strong>DaddySchool</strong>, search and spot any school in your city -Get Full Details. Read and Write reviews of them - Have
      fun:) </p>
  </div>
</div>
